@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to right, purple, yellow);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.box {
  background-size: cover;
  background-position: top;
  transition: all ease 3s;
  filter: brightness(0.2);
}

.box:hover {
  filter: brightness(1);
  background-position: center;
}

.maintext {
  font-size: 3rem;
}

.subtext {
  margin-top: 12px;
  font-size: 1rem;
}

.left-text {
  flex-basis: 30%;
}

.gallery {
  flex-basis: 50%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 120px);
}

#box1 {
  background-image: url("https://images.unsplash.com/photo-1563005416-93d8e7a2d0a3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-row: 1/3;
}

#box2 {
  background-image: url("https://images.unsplash.com/photo-1674995148777-6e0874cc842f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-column: 2/4;
}

#box3 {
  background-image: url("https://images.unsplash.com/photo-1587652397922-de1c72dcba92?q=80&w=1908&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-row: 2/3;
}

#box4 {
  background-image: url("https://images.unsplash.com/photo-1718362872329-d146e6b4675b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-row: 2/4;
}

#box5 {
  background-image: url("https://images.unsplash.com/photo-1575362247640-3c7f5079818d?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-column: 1/3;
}

#box6 {
  background-image: url("https://images.unsplash.com/photo-1508092333714-2ffc941da05c?q=80&w=1648&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#box7 {
  background-image: url("https://images.unsplash.com/photo-1718052473678-b069508c8308?q=80&w=1960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  grid-column: 2/4;
}

@media only screen and (max-width: 770px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .maintext {
    font-size: 2.5rem;
  }

  .subtext {
    font-size: 1rem;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 80vw;
    height: 200px;
    margin: 10px;
  }
}

@media only screen and (max-width: 430px) {
  .maintext {
    font-size: 2rem;
  }

  .box {
    height: 150px;
  }
}
